.pagination {
  display: flex;
  width: 500px;
}
.pagination > * {
  flex-basis: 10%;
}
.pagination span {
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
}
.pagination button {
  padding: 7px 15px;
  margin: 0 2px;
  font-size: 18px;
  border-radius: 20%;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.pagination button:hover {
  background-color: #90cdd1;
}

.pagination span.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination span:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media (max-width: 570px) {
  .pagination {
    width: 300px;
  }
  .pagination span {
    padding: 8px 8px;
  }
  .pagination button {
    padding: 4px 8px;
  }
}
@media (max-width: 350px) {
  .pagination {
    width: 250px;
  }
  .pagination span {
    padding: 4px 4px;
  }
  .pagination button {
    padding: 2px 4px;
  }
}
