.headerContainer {
  background: #f4b886;
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerContainer ul {
  padding-right: 20px;
}
.headerContainer ul div {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.headerContainer ul div a {
  color: rgb(72, 73, 70);
}
