@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar content place";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
  min-height: 100vh;
}

.main-content {
  grid-area: content;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}
p {
  word-wrap: break-word;
}

h1 {
  color: #d54d7b;
  font-family: "Shizuru", cursive;
  font-size: 48px;
  line-height: 38px;
  margin-bottom: 0px;
  margin: 20px 30%;
  text-shadow: 3px -2px 1px #550520;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}
