@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar content place";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
  min-height: 100vh;
}

.main-content {
  grid-area: content;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}
p {
  word-wrap: break-word;
}

h1 {
  color: #d54d7b;
  font-family: "Shizuru", cursive;
  font-size: 48px;
  line-height: 38px;
  margin: 20px 30%;
  text-shadow: 3px -2px 1px #550520;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}
div.error {
  color: #dd0012;
  font-size: 25px;
  font-weight: bold;
  font-family: "Sansita Swashed", cursive;
  text-shadow: 0.5px 0.5px 2px #000;
}
button[disabled] {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
button .save {
  background-color: rgb(63, 211, 199);
  color: #312727;
}

@media (max-width: 770px) {
  .app-wrapper {
    display: grid;
    grid-template-rows: 60px 60px 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      ". content .";
    min-height: 100vh;
  }
  .main-content {
    grid-area: content;
    padding: 10px;
  }
}

@media (max-width: 570px) {
  .app-wrapper {
    grid-template-rows: 60px 30px 1fr;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 10%;
  }
  h3 {
    font-size: 20px;
  }
}
