.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar content place";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
}

.main-content {
  grid-area: content;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}
p {
  word-wrap: break-word;
}
